html {
    font-family: sans-serif;
    background-color: #36393F;
    text-align: center;
    color: #FFF;
}

.container {
    max-width: 500px;
    margin: auto;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a,a:visited {
    color: #00AFF4
}

.button {
    min-height: 32px;
    min-width: 32px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #4f545c;
    font-size: 14px;
    padding: 2px 16px;
    cursor: pointer;
}
